body{
    font-family: "Open Sans", sans-serif;
}

.currency-conversion-layout{
    background-color: #fff;
    border-radius: 10px;
    width: 50%;
    padding: 50px;

}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: larger;
    font-weight: 600;
    margin-bottom: 50px;
}

.converterWrapper{
    display: grid;
    align-items: center;
    justify-content: center;
}

.currency-container{
    border-radius: 10px;

}


.input-textfield, .output-textfield{
    width: 280px;
    padding: 5px;

}

.arrow-icon {
    margin: 20px;
}

.src-textfield, .tar-textfield{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.src-option1, .tar-option1{
    font-size: 16px;
    font-weight: 300;
    font-family: monospace;
    margin-right: 20px;
}

.src-option2, .tar-option2{
    font-size: 14px;
    font-weight: 300;
}

.src-menu , .src-textfield, .tar-menu, .tar-textfield {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}


.date-picker-container{
    width: 50% !important;

}

.input-textfield, .output-textfield{
   
    width: 100%;
}